<div id="gnome-sites">
<ul>
<li class="home"><a href="http://www.gnome.org/" title="Home">Home</a></li>
<li><a href="http://news.gnome.org" title="News">News</a></li>
<li><a href="http://www.gnome.org/projects/" title="Projects">Projects</a></li>
<li><a href="http://art.gnome.org" title="Art">Art</a></li>
<li><a href="http://www.gnome.org/support/" title="Support">Support</a></li>
<li><a href="http://developer.gnome.org" title="Development">Development</a></li>
<li><a href="http://www.gnome.org/community/" title="Community">Community</a></li></ul>
</div>