body {
    background: white;
}

/* Anchors */
a {
    color: #3465a4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Common GNOME Top bar */
#gnome-sites {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    list-style: none;
    background: #2E3436 url(sites-bg.png) 0 100% repeat-x;
    text-align: right;
    padding: 0 1ex;
    margin: 0;
    font-size: 70%;
}

#gnome-sites ul {
    margin: 0;
    padding: 0;
}

#gnome-sites li {
    display: inline;
    background: url(sites-sp.png) 0 0 no-repeat;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 0px;
    margin-top: 0px;
}

#gnome-sites li a {
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 2ex;
    text-decoration: none;
    line-height: 30px;
}

#gnome-sites li a:hover {
    text-decoration: underline;
}

#gnome-sites .home {
    float: left;
    background: url(sites-sp.png) 100% 0 no-repeat;
    padding-top: 0;
    padding-bottom: 0;
}

#gnome-sites .home a {
    float: left;
    background: url(sites-foot.png) 7px 50% no-repeat;
    margin-left: 0;
    padding-left: 27px;
}

/* 404/500 errors */

.page-error {
   background: #eeeeff;
   border: 1px solid #888888;
   margin-top: 3em;
   padding: 0em 1em;
}

/* Sidebar */

#logo {
    background-image: url('gnome-logo.png');
    width: 199px;
    height: 76px;
    margin-bottom: 1em;
}

#sidebar {
    width: 250px;
    float: left;
    height: 100%;
}

#sidebarInner {
    padding: 1em;
}

#sidebarHeader {
    font-size: 125%;
    margin-bottom: 1em;
}

#sidebarInner ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#sidebarInner li {
    list-style: none;
    margin-bottom: 0.25em;
}

#main {
    width: 50em;
    margin-top: 2.5em;
    margin-left: 15em;
}

#about {
    background: white;
    font-size: 90%;
    margin-bottom: 1em;
}

#about p {
    margin-top: 0em;
    margin-bottom: 1em;
}

.system-info {
    margin-bottom: 1em;
}

#formGroup {
    border: 1px solid #888888;
    background: white;
    padding: 1em;
}

#formInner {
}

#systemForm {
    table-layout: fixed;
}

#systemForm .field-label {
    width: 20%;
    text-align: right;
    padding-right: 0.5em;
    color: #666666;
}

#systemForm .field-widget {
    width: 80%;
}

#systemForm .field-help {
    font-size: smaller;
    color: #222266;
    padding-bottom: 1em;
}

#systemForm .errorlist {
    color: red;
    margin: 0px;
    padding: 0px;
}

#systemForm .errorlist li {
    list-style: none;
}

#systemForm textarea {
    width: 100%;
}

#systemForm input {
    width: 100%;
}

#systemForm .button {
    text-align: right;
    padding-top: 0.5em;
}

#systemForm .button input {
    width: 20%;
    padding: 0.25em;
}

.filename {
    white-space: nowrap;
}

.metric-table {
    text-align: right;
    background: white;
    border-collapse: collapse;
    border: 1px solid #aaaaaa;
    margin-bottom: 1em;
}

.header-row th {
    border-bottom: 1px solid black;
}

.metric-table th {
    font-weight: normal;
    color: #666666;
}

.header-row-first {
    border-right: 1px solid black;
}

.metric-row th {
    border-right: 1px solid black;
    padding-right: 0.25em;
}

.metric-row-odd {
    background: white;
}

.metric-row-even {
    background: #eeffee;
}

.metric-table td {
    padding: 2px;
}

.form-error {
    border: 1px solid #888888;
    background: white;
    padding: 0em 1em;
    font-size: 90%;
    margin-bottom: 1em;
    color: red;
}

.form-error p {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.changes-header {
    font-weight: bold;
}